@tailwind base;
@tailwind components;
@tailwind utilities;

/* create a variable for the background color of the body element in the src/index.css file:  */
:root {
  --bg-color: #ffffff;
  /* --primary-color: #177E89; */
}
body {
  background-color: var(--bg-color);
  padding-top: 5vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
